{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
   <h3> Cambiar contraseña </h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Cambiar contraseña</button>
    </form>
  {% else %}
<div class="contact_text">
<p>
       El enlace para restablecer la contraseña no era válido, posiblemente porque ya se ha utilizado.
       Por favor, solicite un nuevo restablecimiento de contraseña.
     </p>
 </div>    
  {% endif %}
{% endblock %}